[submodule "bundle/vim-colors-solarized.git"]
	path = bundle/vim-colors-solarized.git
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/syntastic.git"]
	path = bundle/syntastic.git
	url = https://github.com/scrooloose/syntastic.git
[submodule "bundle/vim-sensible.git"]
	path = bundle/vim-sensible.git
	url = https://github.com/tpope/vim-sensible.git
[submodule "bundle/jedi-vim.git"]
	path = bundle/jedi-vim.git
	url = https://github.com/davidhalter/jedi-vim.git
[submodule "bundle/vim-airline.git"]
	path = bundle/vim-airline.git
	url = https://github.com/bling/vim-airline.git
[submodule "bundle/vim-bbye.git"]
	path = bundle/vim-bbye.git
	url = https://github.com/moll/vim-bbye.git
