[submodule "bundle/vim-colors-solarized.git"]
	path = vim/pack/plugins/start/vim-colors-solarized.git
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/vim-airline.git"]
	path = vim/pack/plugins/start/vim-airline.git
	url = https://github.com/bling/vim-airline.git
[submodule "bundle/vim-airline-themes.git"]
	path = vim/pack/plugins/start/vim-airline-themes.git
	url = https://github.com/vim-airline/vim-airline-themes
[submodule "vim/pack/plugins/start/nvim-lspconfig.git"]
	path = vim/pack/plugins/start/nvim-lspconfig.git
	url = https://github.com/neovim/nvim-lspconfig.git
[submodule "vim/pack/plugins/start/vim-sensible.git"]
	path = vim/pack/plugins/start/vim-sensible.git
	url = https://github.com/tpope/vim-sensible.git
[submodule "vim/pack/plugins/start/mason.nvim"]
	path = vim/pack/plugins/start/mason.nvim
	url = https://github.com/williamboman/mason.nvim
[submodule "vim/pack/plugins/start/mason-lspconfig.git"]
	path = vim/pack/plugins/start/mason-lspconfig.git
	url = https://github.com/williamboman/mason-lspconfig.nvim
[submodule "vim/pack/plugins/start/close-buffers.vim.git"]
	path = vim/pack/plugins/start/close-buffers.vim.git
	url = https://github.com/Asheq/close-buffers.vim.git
[submodule "vim/pack/plugins/start/neosolarized.git"]
	path = vim/pack/plugins/start/neosolarized.git
	url = https://github.com/Tsuzat/NeoSolarized.nvim
