alias_dir=$(direnv_layout_dir)/aliases
mkdir -p "$alias_dir"

make_alias() {
    printf '#!/bin/sh\nuv run %s "$@"\n' "$1" > "$alias_dir/$1"
    chmod +x "$alias_dir/$1"
}

make_alias ansible
make_alias ansible-galaxy
make_alias ansible-lint
make_alias ansible-playbook

PATH_add "$alias_dir"
